button{
    width: 100%;
    margin: 10px 0;
    background-color: lightskyblue;
    border-color: lightskyblue;
}

.input-group {
    display: flex;
    flex-direction: column;
    border-bottom: solid gray;
}

.forecast-cards {

    background-color: #2b2b8b;
    color: white;
    margin: 5px 10px;
    
}